{% extends 'base.html.twig' %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/afficherProfil.css') }}">
{% endblock %}

            {% block autreLienProfil %}
                <a href="{{ path('app_sortie') }}"> Sortie </a>
                <a href=" {{ path ('app_modifier') }}">Modifier</a>
            {% endblock %}

{% block body %}

    <div class="container center">
        <div class="element title">
            {{ app.user.pseudo }}
        </div>
    </div>
    <div class="container">
        <div class="element col-3x12">
            <img src="images/photoParticipant/small/{{ app.user.emplacementPhoto }}"/>
        </div>
        <div class="element col-6x12 Profil">
            <div>
                <div class="label">
                    Nom :
                </div>
                <div class="info">
                    {{ app.user.nom }}
                </div>
            </div>
            <div>
                <div class="label">
                    Prénom :
                </div>
                <div class="info">
                    {{ app.user.prenom }}
                </div>
            </div>
            <div>
                <div class="label">
                    Téléphone :
                </div>
                <div class="info">
                    {{ app.user.telephone }}
                </div>
            </div>
            <div>
                <div class="label">
                    Email :
                </div>
                <div class="info">
                    {{ app.user.mail }}
                </div>
            </div>
            <div>
                <div class="label">
                    Site :
                </div>
                <div class="info">
                    {{ app.user.site.nomSite }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
