{% extends 'base.html.twig' %}


    {% block title %} Modifier votre profile | {{ parent() }}{% endblock %}

            {% block autreLienProfil %}
                <a href="{{ path('app_sortie') }}"> Sortie </a>
                <a href=" {{ path ('app_profil') }}">Mon profil</a>
            {% endblock %}
{% block body %}

    <h1>Modifier votre profil</h1>

        {{ form_start(modifier_profil_form) }}

            {{ form_row(modifier_profil_form.pseudo) }}
            {{ form_row(modifier_profil_form.prenom) }}
            {{ form_row(modifier_profil_form.nom) }}
            {{ form_row(modifier_profil_form.telephone) }}
            {{ form_row(modifier_profil_form.mail) }}
            {{ form_row(modifier_profil_form.plainPassword) }}
            {{ form_widget(modifier_profil_form.site) }}
            {{ form_row(modifier_profil_form.photo) }}


        {{ form_end(modifier_profil_form) }}



{% endblock %}



