{% for sortie in sorties %}
    <div class="sortie container">
        <div class="element col-3x12">
            <div class="photo">
                <img src="{{ sortie.urlPhoto }}">
            </div>
        </div>
        <div class ="element col-9x12">
            <div class="nom">
                <a href="{{ path('app_detailSortie', {'id':sortie.id}) }}">
                    {{ sortie.nom }}
                </a>
            </div>
            <div class="duree">
                durée :
                {{ sortie.duree }}
            </div>
            <div class="limiteinscription">
                date limite d'inscription :
                {{ sortie.dateLimitInscription|date("m/d/Y") }}
            </div>
            <div class="dateDebut">
                début :
                {{ sortie.dateHeureDebut|date("m/d/Y") }}
            </div>
            <div class="Infos">
                {{ sortie.infosSortie }}
            </div>
            <div class="ville">
                site : {{ sortie.site.nomSite }}
            </div>
        </div>
    </div>
{% endfor %}