{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/sortie.css') }}">
{% endblock %}

            {% block autreLienProfil %}
                <a href=" {{ path ('app_sortie') }}">Sorties</a>
            {% endblock %}

{% block body %}
        <div class="sortie container">
            <div class="element col-3x12">
                <div class="photo">
                    <img src="{{ sortie.urlPhoto }}">
                </div>
            </div>
            <div class ="element col-9x12">
                <div class="nom">
                    {{ sortie.nom }}
                </div>
                <div class="duree">
                    durée :
                    {{ sortie.duree }}
                </div>
                <div class="limiteinscription">
                    date limite d'inscription :
                    {{ sortie.dateLimitInscription|date("m/d/Y") }}
                </div>
                <div class="dateDebut">
                    début :
                    {{ sortie.dateHeureDebut|date("m/d/Y") }}
                </div>
                <div class="Infos">
                    {{ sortie.infosSortie }}
                </div>
                <div class="Site">
                    dans la ville de :
                    {{ sortie.site.nomSite }}
                </div>
            </div>
        </div>
        <div class="center">
            <a href="" class="register"> s'inscrire </a>
        </div>
        <div class="participants">
            Participants a cette sortie:
            <ul>
                {% for participant in sortie.participants %}
                    <li>
                        {{ participant.nom }} {{ participant.prenom }}
                    </li>
                {% endfor %}
            </ul>
        </div>

{% endblock %}