{% extends 'base.html.twig' %}

{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "ajax" )|url_encode %}

{% block title %}Sortie | {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/sortie.css') }}">
{% endblock %}

{% block body %}
    <div class="container filtre">
        <form id="filters">
            {% for site in sites %}
            {% if queryParams is not empty and queryParams.sites is not empty %}
                {% set checked = (site.id in queryParams.sites) ? "checked" : "" %}
            {% else %}
                {% set checked = "" %}
            {% endif %}
                <div>
                    <p><input type="checkbox" name="sites[]" id="site{{ site.id }}" value="{{ site.id }}" {{ checked }}></p>
                    <label for="cat{{ site.id }}">{{ site.nomSite }}</label>
                </div>
            {% endfor %}
        </form>
    </div>
    <div id="content">
        {% include "sortie/_contentSortie.html.twig" %}
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}