{% extends 'base.html.twig' %}

{% block title %}Hello AfficherProfilController!{% endblock %}

{% block body %}

    ID {{ profil.id }}
    NOM {{ profil.nom }}
    PRENOM {{ profil.prenom }}
    TELEPHONE {{ profil.telephone }}
    EMAIL {{ profil.mail }}
    ADMIN {{ profil.administrateur }}
    ACTIF {{ profil.actif }}
    PSEUDO {{ profil.pseudo }}


    <h1>test</h1>
{% endblock %}
